In [1]:
import pandas as pd
import os
import csv

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# datatypes
from sqlalchemy import Column, Integer, String, Float

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
mars_weather_data = "resources/mars-weather.csv"
mars_calendar="resources/MarsCalendar.csv"

# Read both data files

In [3]:
MarsWeather_df = pd.read_csv(mars_weather_data)
MarsCalendar_df = pd.read_csv(mars_calendar)

# Inspect both data files as a check. Remember that all MarsCalendar sols will be Null until the Curiosity landing date

In [4]:
MarsWeather_df.head()

,id,terrestrial_date,sol,ls,month,min_temp,max_temp,pressure,wind_speed,atmo_opacity
0,1895,2/27/2018,1977,135,Month 5,-77.0,-10.0,727.0,NaN,Sunny
1,1893,2/26/2018,1976,135,Month 5,-77.0,-10.0,728.0,NaN,Sunny
2,1894,2/25/2018,1975,134,Month 5,-76.0,-16.0,729.0,NaN,Sunny
3,1892,2/24/2018,1974,134,Month 5,-77.0,-13.0,729.0,NaN,Sunny
4,1889,2/23/2018,1973,133,Month 5,-78.0,-18.0,730.0,NaN,Sunny

In [5]:
MarsCalendar_df.tail()

,Unnamed: 0,Edate,Mday-of-MYear,Mseason,MseasonName,Myear,weather_sol
26600,26600,2030-01-23,511,3,Autumn,40,6212.0
26601,26601,2030-01-24,512,3,Autumn,40,6213.0
26602,26602,2030-01-25,513,3,Autumn,40,6214.0
26603,26603,2030-01-26,514,3,Autumn,40,6215.0
26604,26604,2030-01-27,515,3,Autumn,40,6216.0

# Connect to the DB

In [6]:
# Create Engine and Pass in MySQL Connection                
MySQL_root_PW = 'mysql1220'
MySQL_db = 'MarsWeather_db'

engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost/")
conn = engine.connect()

# This code is to create the db every time, so just drop it and create it every time

In [7]:
conn.execute("drop database "+MySQL_db)
conn.execute("create database "+MySQL_db)
conn.close()

# Now that db is created, connect to the new db

In [8]:
engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost/"+MySQL_db)
conn = engine.connect()

In [9]:
MarsCalendar_df.to_sql("mars_calendar", con=conn, if_exists="replace", index=True )

In [10]:
MarsWeather_df.to_sql("mars_weather", con=conn, if_exists="replace", index=True)